<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container mt-3" *ngIf="horse">
  <div class="alert alert-success" role="alert">
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Well done!</h4>
    <p>Connection to Database is up and running.</p>
  </div>
</div>

<div class="container mt-3" *ngIf="horses">
  <form>
    <div class="form-group">
      <label>Search:</label>
      <input [(ngModel)]="horse.name" name="horsename" placeholder="name"/>
    </div>
  </form>

  <h4> All horses / horses filtered by(bla)</h4>
  <ul class="horses">
    <li *ngFor="let testHorse of horses" [class.selected]="testHorse === selectedHorse" (click)="onSelect(testHorse)">
      <span class="badge">{{testHorse.id}}</span> {{testHorse.name}}
    </li>
  </ul>
  <app-horse-detail [detailHorse]="selectedHorse"></app-horse-detail>
</div>


<div class="container mt-3" *ngIf="validBreeds">
  <h4>Post horse</h4>
  <p>{{ toPostHorse | json }}</p>
  <p>{{ postHorseForm.value | json }}</p>
  <form #postHorseForm="ngForm">

    <div class="form-group">
      <label>Name*</label>
      <input type="text" required #hName="ngModel" [class.is-invalid]="hName.invalid && hName.touched" class="form-control" name="name" [(ngModel)]="toPostHorse.name">
      <small class="alert-danger" [class.d-none]="hName.valid || hName.untouched" role="alert">Name is required!</small>
    </div>

    <div class="form-group">
      <label>OwnerID</label>
      <input type="number" class="form-control" min="1" max="5" name="rating" [(ngModel)]="toPostHorse.ownerId">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="toPostHorse.description">
    </div>

    <div class="form-group">
      <label>Rating*</label>
      <input type="number" required #hRating="ngModel" pattern="^[1-5]" [class.is-invalid]="hRating.invalid && hRating.touched" class="form-control" min="1" max="5" name="rating" [(ngModel)]="toPostHorse.rating">
      <div *ngIf="hRating.errors && (hRating.invalid || hRating.touched)">
        <small class="alert-danger" role="alert" *ngIf="hRating.errors.required">Rating is required!</small>
        <small class="alert-danger" role="alert" *ngIf="hRating.errors.pattern">Rating must be between 1 and 5!</small>
      </div>
    </div>

    <div class="form-group">
      <label>Birthday*</label>
      <input type="datetime-local" required #hBirthday="ngModel" [class.is-invalid]="hBirthday.invalid  && hBirthday.touched" class="form-control" name="birthday" [(ngModel)]="toPostHorse.birthDay">
      <small class="alert-danger" [class.d-none]="hBirthday.valid || hBirthday.untouched" role="alert">Birthday is required!</small>
    </div>

    <div class="form-group">
      <label>Breed*</label>
      <select class="custom-select" name="breed" [(ngModel)]="toPostHorse.breed">
        <option *ngFor="let breed of validBreeds">{{ breed }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Select image*</label>
      <input type="text" required accept="image/*" #hImage="ngModel" [class.is-invalid]="hImage.invalid && hImage.touched" class="form-control" name="image" [(ngModel)]="toPostHorse.imageURI">
      <!--      <input type="file" required accept="image/*" #hImage="ngModel" [class.is-invalid]="hImage.invalid && hImage.touched" class="form-control" name="image" [(ngModel)]="toPostHorse.imageURI">-->
      <small class="alert-danger" [class.d-none]="hName.valid || hName.untouched" role="alert">Image is required!</small>
    </div>

    <button class="btn btn-primary" [disabled]="postHorseForm.invalid" type="submit" (click)="onClickPostHorse(toPostHorse)">Submit</button>

  </form>
</div>

<span class="font-weight-bold" *ngIf="horse">{{horse.id}} , {{horse.name}} , {{horse.description}} , {{ horse.rating }}
  , {{horse.birthDay}} , {{horse.breed}}
  , {{horse.imageURI}} , {{horse.createdAt}} , {{horse.updatedAt}}</span>

<div>
  <button (click)="onClickPostHorse(newHorse)">Click me to post a horse</button>
</div>



