<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container mt-3" *ngIf="horse">
  <div class="alert alert-success" role="alert">
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Well done!</h4>
    <p>Connection to Database is up and running.</p>
  </div>
</div>

<div class="container mt-3" *ngIf="horses">
  <form>
    <div class="form-group">
      <label>Search:</label>
      <input [(ngModel)]="horse.name" name="horsename" placeholder="name"/>
    </div>
  </form>
</div>

<!--  <app-horse-detail [detailHorse]="selectedHorse"></app-horse-detail>-->

<div>
  <app-get-all-horse [horses]="horses"></app-get-all-horse>
</div>

<div>
  <app-post-horse (childEvent)="onClickPostHorse($event)" [validBreeds]="validBreeds"></app-post-horse>
</div>



<span class="font-weight-bold" *ngIf="horse">{{horse.id}} , {{horse.name}} , {{horse.description}} , {{ horse.rating }}
  , {{horse.birthDay}} , {{horse.breed}}
  , {{horse.imageURI}} , {{horse.createdAt}} , {{horse.updatedAt}}</span>

<div>
  <button (click)="onClickPostHorse(newHorse)">Click me to post a horse</button>
</div>



