<div class="container mt-3" *ngIf="validBreeds">
<!--  <p>{{ toPostHorse | json }}</p>-->
<!--  <p>{{ postHorseForm.value | json }}</p>-->
  <form #postHorseForm="ngForm">

    <div class="form-group">
      <label>Name*</label>
      <input type="text" required #hName="ngModel" [class.is-invalid]="hName.invalid && hName.touched" class="form-control" name="name" [(ngModel)]="toPostHorse.name">
      <small class="alert-danger" [class.d-none]="hName.valid || hName.untouched" role="alert">Name is required!</small>
    </div>

    <div class="form-group">
      <label>OwnerID</label>
      <input type="number" class="form-control" min="1" name="ownerId" [(ngModel)]="toPostHorse.ownerId">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="toPostHorse.description">
    </div>

    <div class="form-group">
      <label>Rating*</label>
      <input type="number" required #hRating="ngModel" pattern="^[1-5]" [class.is-invalid]="hRating.invalid && hRating.touched" class="form-control" min="1" max="5" name="rating" [(ngModel)]="toPostHorse.rating">
      <div *ngIf="hRating.errors && (hRating.invalid || hRating.touched)">
        <small class="alert-danger" role="alert" *ngIf="hRating.errors.required">Rating is required!</small>
        <small class="alert-danger" role="alert" *ngIf="hRating.errors.pattern">Rating must be between 1 and 5!</small>
      </div>
    </div>

    <div class="form-group">
      <label>Birthday*</label>
      <input type="datetime-local" required #hBirthday="ngModel" [class.is-invalid]="hBirthday.invalid  && hBirthday.touched" class="form-control" name="birthday" [(ngModel)]="toPostHorse.birthDay">
      <small class="alert-danger" [class.d-none]="hBirthday.valid || hBirthday.untouched" role="alert">Birthday is required!</small>
    </div>

    <div class="form-group">
      <label>Breed*</label>
      <select class="custom-select" name="breed" [(ngModel)]="toPostHorse.breed">
        <option *ngFor="let breed of validBreeds">{{ breed }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Select image*</label>
      <input type="text" required accept="image/*" #hImage="ngModel" [class.is-invalid]="hImage.invalid && hImage.touched" class="form-control" name="image" [(ngModel)]="toPostHorse.imageURI">
      <!--      <input type="file" required accept="image/*" #hImage="ngModel" [class.is-invalid]="hImage.invalid && hImage.touched" class="form-control" name="image" [(ngModel)]="toPostHorse.imageURI">-->
      <small class="alert-danger" [class.d-none]="hName.valid || hName.untouched" role="alert">Image is required!</small>
    </div>

    <button class="btn btn-primary" [disabled]="postHorseForm.invalid" type="submit" (click)="onClickPostHorse(toPostHorse)">Submit</button>

  </form>
</div>
