<form #searchHorseForm="ngForm">
  <div class="form-row col-12">
    <div class="form-group col-2">
      <!--      <label>Name:</label>-->
      <input [(ngModel)]="searchHorse.name" class="form-control" type="text" name="name" placeholder="name"/>
    </div>
    <div class="form-group col-2">
      <!--      <label>Description:</label>-->
      <input [(ngModel)]="searchHorse.description" class="form-control" type="text" name="description" placeholder="description"/>
    </div>
    <div class="form-group col-2 ">
      <!--        <label>Rating:</label>-->
      <input [(ngModel)]="searchHorse.rating" class="form-control" type="number" name="rating" placeholder="rating"/>
    </div>
    <div class="form-group col-2 ">
      <!--        <label>Birthday:</label>-->
      <input [(ngModel)]="searchHorse.birthDay" class="form-control" type="datetime-local" name="birthday" placeholder="birthday"/>
    </div>
    <div class="form-group col-2 ">
      <!--        <label>Breeds:</label>-->
      <select class="custom-select" class="form-control" name="breed" [(ngModel)]="searchHorse.breed">
        <option *ngFor="let breed of validBreeds">{{ breed }}</option>
      </select>
    </div>
    <div class="form-group col-2 ">
      <button class="btn btn-info form-control" type="submit" (click)="onClickSearchFiltered(searchHorse)">Confirm</button>
    </div>
  </div>
</form>
